*.h5
.DS_Store
*.pyc

# Keep the ABSCOEFF_CK directory and README but ignore everything else
ABSCOEFF_CK/*
!ABSCOEFF_CK/README.md


# Installation
build/
dist/
*.egg-info/
.ipynb_checkpoints/*
__pycache__/*
*.ipynb_checkpoints

exoPIE/*.npz
exoPIE/*/*
exoPIE/*.png
exoPIE/*.log
